body{
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
}
/* Remove links underline */
a.no-underline {
    text-decoration: none;
  }

/* About timeline */
ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #C93C20;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #C93C20;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
div .btn {
background-color: #C93C20;
border: 0cm;
}

/* Make video relative */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /*size equal to 16:9. https://youtu.be/0L8cQ9nRtuE */
    height: 0;
}

.videoWrapper iframe{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}

.container{
    margin-bottom: 90px;
}

nav > div > .fa{
    margin: auto;
}

.menuText:hover, nav > div > .fa:hover{
    border-radius: 10px;
    transform: scale(1.05);
}

/* Texto del navbar*/

.menuText {
    font-weight: 18 px;
    font-stretch: condensed;
    font-size: large;
    margin:auto;
    text-align: center;
}

.card{
    border-radius: 4px;
    background: #fff;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
}

.breadcrumb-item{
    font-size: small;
}

.body-text{
   font-weight:16px;
}

.cite{
    font-style: italic;
    align-content: flex-end;
}
.autor{
    font-size: small;
}